/* top players style */
body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

nav {
    background-color: #562EFF;
    display: flex;
    justify-content: center;
}

.nav-area {

    display: flex;
    justify-content: space-between;
    width: 870px;
}

.left-nav {
    display: flex;
    align-items: center;
}

.left-nav img {
    width: 60px;
}

.left-nav h3 {
    color: white;
    margin-left: 10px;
}

.right-nav {
    display: flex;
}

.right-nav img {
    width: 80px;
}

.right-nav ul {
    display: flex;
    align-items: center;
}

.right-nav ul li {
    margin: 0px 10px;
    list-style: none;
    color: white;
}

main {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    border-radius: 10px;
    margin-top: 21px;
}

hr {
    border: 1px solid #D1D1D1;
    /* margin-top: 21px; */
    margin-bottom: 22px;
}

.top-players {
    margin-bottom: 30px;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-top: 0px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
}

.blog {
    display: flex;
}

/* top blog styles */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}

.blog .thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 20px;
}

.blog-author {
    color: #9F9F9F;
    font-size: 16px;
}

.blog-author a {
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}

/* courses styles */

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}

.course {
    color: #1E1E1E;
    font-size: 21px;
    font-weight: 500px;
    /* width: 250px;
    box-shadow: 0px 0px 1px gray; */
}

.course .course-banner img {
    width: 220px;
    height: 104px;

}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-star {
    font-size: 12px;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #858072;
}

.course-duration {
    color: rgb(215, 48, 48);
    background-color: rgb(231, 147, 147);
    border-radius: 15px;
}

/* 
media queary
@media (max-width:688) {
    nav {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .players {
        grid-template-columns: repeat(1, 1fr);

    }
} */